/* CSS selectors */
h2 {
    color: brown;
    background-color: aqua;
}

/* universal selector */
* {
    color: aqua;
    background-color: rgb(46, 11, 78);
    font-weight: bold;
}

/* type selector */
h3 {
    color: aqua;
    background-color: rgb(46, 11, 78);
    font-weight: bold;
}

p {
    color: chocolate;
}

/* class selector */
.heading {
    color: violet;
}

/* id selector */
#CSS_firstChapter {
    color: yellow;
}

/* child selector */
ul>li {
    color: aqua;
}

ul.list-one>li {
    color: red;
}

ul.list-two>li {
    color: #b8860b;
}

div.main>p>b {
    color: brown;
}

p>b {
    color: blue;
}

/* Descendant Selector */
div.main b {
    color: blue;
}

/* Adjacent Sibling Selector */
.html5+p {
    color: blue;
}

/* General Sibling Selector */
.html5~p {
    color: brown;
}

/* How Css Rules Cascade */
#test {
    color: greenyellow;
}

h1 {
    color: aqua;
}

h1 {
    color: red;
}

.main {
    color: rebeccapurple !important;
}